// Inria Sans
@font-face {
    font-family: 'Inria Sans';
    src: url('../../assets/fonts/inria-sans/OTF/InriaSans-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: url('../../assets/fonts/inria-sans/OTF/InriaSans-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
  font-family: 'Inria Sans';
  src: url('../../assets/fonts/inria-sans/OTF/InriaSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

// Oswald
@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/oswald/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}



