<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ 'AUTH.LOGIN' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>{{ 'LOGIN' | translate }}</h1>
  <ion-label> {{ 'LOGIN' | translate }} </ion-label>

<div style="display: flex; justify-content: space-around;">
<!--   <button (click)="changeLang('en')">English</button>
  <button (click)="changeLang('es')">Spanish</button>  -->
  <ion-button (click)="changeLang(Language.EN)"> {{ 'ENGLISH' | translate }} </ion-button>
  <ion-button (click)="changeLang(Language.ES)"> {{ 'SPANISH' | translate }} </ion-button>

  <ion-button (click)="goToRegister()"> go to register </ion-button>
</div>
</ion-content>
